.header {
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.header-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  width: 40vw;
  text-align: start;
}

.header-content h1 .highlight {
  color: var(--custom-orange);
}

.header img {
  width: 100%;
  max-width: 420px;
  object-fit: cover;
  transform: scaleX(-1); /* To make the chef look to the text */
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(250, 136, 54, 0.4);
}
