/* Header Section */
.header {
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.header-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  width: 40vw;
  text-align: start;
}

.header img {
  width: 100%;
  max-width: 420px;
  object-fit: cover;
  transform: scaleX(-1); /* To make the chef look to the text */
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(250, 136, 54, 0.4);
}

/* How It works section */
.how-it-works {
  padding: 1rem 2rem;
}

.how-it-works h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.how-it-works .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.how-it-works .container .card {
  width: auto;
  max-width: 40%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(250, 136, 54, 0.4);
}

.how-it-works .card img {
  width: 100%;
  object-fit: cover;
}

.how-it-works .card h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.how-it-works .card p {
  font-size: 1rem;
  margin: 1rem 0;
}

.how-it-works .card button {
}

/* Chefs Section */
.chefs-section {
  padding: 1rem 2rem;
}

.chefs-section h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.chefs-section .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.chefs-section .chef {
  width: 12rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(250, 136, 54, 0.4);
}

.chefs-section .chef img {
  width: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.chefs-section .chef h3 {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.chefs-section .chef h4 {
  font-size: 1rem;
  font-weight: normal;
  margin: 1rem 0;
}
