.HomePage {
  font-family: "Playwrite US Modern", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  background-image: url("../../assets/images/mainbg.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
