.SignInPage {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.hero-section {
  position: relative;
  background-image: url("../../assets/images/Backgroundimage.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

/* Dark overlay on the background image */
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080; /* Black overlay with 60% opacity */
  z-index: 1;
}

.hero-section .col {
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 769px) {
  .hero-section {
    background-position: top; /* Adjust background position for smaller screens */
  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1rem;
  }
  .w-15 {
    width: 15% !important;
  }
}
/* Adjusting the hero section for smaller screens */
@media screen and (max-width: 768px) {
  .hero-section {
    background-position: top; /* Adjust background position for smaller screens */
  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1rem;
  }
  .w-15 {
    width: 15% !important;
  }
}

/* Further adjustments for extra small screens */
@media screen and (max-width: 576px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 0.875rem;
  }
  .w-15 {
    width: 25% !important;
  }
}

.input-bg {
  background: #98989799;
  color: #ffffff;
  border-radius: 10px;
}
.input-bg::placeholder {
  color: #ffffff;
}
a {
  color: #4136a3;
}

button {
  background: #4136a3;
  font-size: 24px;
  border-radius: 10px;
}
