.App {
  text-align: center;
  background-color: black;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

textarea {
  resize: none;
}

.zeyada-regular {
  font-family: "Zeyada", serif;
  font-weight: 400;
  font-style: normal;
}

.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.inter{
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}