/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --custom-orange: rgb(250 136 54 / 1);
  --custom-orange-dark: rgb(200, 100, 45);
  --custom-black: rgb(30, 30, 30);
  --custom-white: rgb(220, 220, 220);
}

.highlight {
  color: var(--custom-orange);
}

/* Appling Animations */
.transition-smooth {
  @apply transition-all duration-150 ease-in-out;
}

/* Fonts */

/* Fixing Cummulative Layout Shift */
.playwrite-us-modern {
  font-family: "Playwrite US Modern", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  min-height: 100px; /* Adjust based on the expected text height */
  margin: 0 auto; /* Center with consistency */
  padding: 10px 20px; /* Adjust as needed */
}
