/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --custom-orange: rgb(250 136 54 / 1);
  --custom-orange-dark: rgb(200, 100, 45);
  --custom-black: rgb(30, 30, 30);
  --custom-white: rgb(220, 220, 220);
}

.highlight {
  color: var(--custom-orange);
}
